// шрифт
@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'),
       url('fonts/web/ptsans.woff') format('woff'),
       url('fonts/web/ptsans.woff2') format('woff2'),
       url('fonts/web/ptsansbold.woff') format('woff'),
       url('fonts/web/ptsansbold.woff2') format('woff2');
}

body {
  padding: 0;
  margin: 0;

  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 71px;
  z-index: 2;
  left: 50%;
  margin: 0 auto;
  margin-left: -69px;
}
