html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;

  font-size: 14px;
  font-weight: normal;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  line-height: 26px;
  text-transform: uppercase;

  background-color: #ffffff;
}

.page-wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 -5px 9px 2px #dbdbdb;
}

a {
  text-decoration: none;
}

.main-header-logo {
  position: absolute;
  width: 138px;
  height: 71px;
  z-index: 2;
  left: 50%;
  margin: 0 auto;
  margin-left: -69px;
}

.main-navigation {
  background: #ffffff;
  width: 100%;
  min-height: 56px;
}

.main-navigation-list {
  display: flex;
  min-height: 56px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  display: block;
  width: 240px;
  margin-top: 13px;
}

.nav-item-1 {
  margin-left: 72px;
}

.nav-item-3 {
  margin-left: 86px;
}

.nav-item-3, .nav-item-4 {
  text-align: right;
}

.nav-item a {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  color: #000000;
}

.nav-item a:hover,
.site-navigation a:focus {
	color: #81b3d2;

	background-color: #ffffff;
}

.nav-item a:active {
	color: #766357;

	background-color: #ffffff;
}

.page-intro {
  position: relative;
  min-height: 508px;
  padding-top: 78px;
  background: url("../img/welcome-sedona-bg.jpg");
}

.page-intro img {
  display: block;
  width: 459px;
  height: 353px;
  margin: 0 auto;
}

.page-intro::after {
  content: "";
  position: absolute;
  background-image: url("../img/polygon.png");
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 57px;
}

.reasons-header {
  /*min-height: 216px;*/
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 40px;
}

.reasons-header h2 {
  margin: 0;
  padding-bottom: 40px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.reasons-header p {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.reasons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.reason {
  width: 400px;
  height: 256px;
  text-align: center;
}

.reason-1,
.reason-2 {
  background: #81b3d2;
  color: #ffffff;
}

.reason-3,
.reason-4,
.reason-5 {
  background: #eeeeee;
  color: #000000;
}

.reason-photo {
  margin: 0;
  padding: 0;
  width: 800px;
  height: 256px;
}

.reason h2{
  margin: 0;
  padding-top: 46px;
  font-size: 21px;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
}

.reason span {
  display: inline-block;
  padding: 12px 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
}

.reason p {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
}

.reason-housing,
.reason-food,
.reason-souvenir {
  width: 400px;
  min-height: 330px;
  text-align: center;
  background-color: #ffffff;
  color: #000000;
}

.reason-housing {
  background-image: url("../svg/icon-house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 162px 60px;
}

.reason-housing h2 {
  padding-top: 138px;
}

.reason-food {
  background-image: url("../svg/icon-gift.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 162px 60px;
}

.reason-food h2 {
  padding-top: 138px;
}

.reason-souvenir {
  background-image: url("../svg/icon-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: 162px 60px;
}

.reason-souvenir h2 {
  padding-top: 138px;
}

.booking {
  background: #ffffff;
}

.booking h2 {
  margin: 0;
  padding-top: 58px;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  line-height: 36px;
  color: #000000;
  text-align: center;
}
.booking p {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 58px;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.search-button {
  display: block;
  margin: 0 auto;
  width: 568px;
  height: 86px;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background: #766357;
  cursor: pointer;
}

.search-button:hover {
  background: #604e43;
}

.search-button:active {
  background: #503e33;
  color: rgba(255, 255, 255, 0.3);
}

.map {
  background-color: #cbdda9;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  width: 1200px;
  height: 593px;
}

/*Модальное окно*/


.booking-form {
  display: none;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box;
	width: 570px;
	min-height: 395px;
	margin: 0 auto;
	padding: 55px;

	background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
}

.booking-form-show {
  display: flex;
}

.input-line {
  position: relative;
  justify-content: space-between;
  display: flex;
  align-items: center;
  height: 38px;
  /*margin-bottom: 30px;*/
  padding: 0;
}

.input-line input[type="text"] {
  background-color: #f2f2f2;
  border: none;
}

.booking-calendar {
  position: relative;
  box-sizing: border-box;
  width: 346px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  padding-right: 199px;
}

.calendar-icon {
  position: absolute;
  top: 7px;
  right: 10px;
  fill: #cacaca;
}

.calendar-icon:hover {
  fill: #000000;
}

.calendar-icon:active {
  fill: #81b3d2;
}

.input-line-wpapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.quantity,
.button-minus,
.button-plus {
  width: 38px;
  height: 38px;

  padding: 0;
  margin: 0;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  text-align: center;
}

.button-minus,
.button-plus {
  color: #a9a9a9;
}

.button-minus:hover,
.button-plus:hover {
  color: #000000;
  font-weight: bold;
  cursor: pointer;
}

.button-minus:active,
.button-plus:active {
  color: #81b3d2;
}

.form-submit-button {
  min-height: 58px;
  background-color: #81b3d2;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.form-submit-button:hover {
  background-color: #669ec0;
}

.form-submit-button:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

/*Футер*/

.footer {
  min-height: 120px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  min-height: 124px;
  padding: 36px 0;
  background: rgba(255, 255, 255, 0.9);
}

.footer-contacts {
  min-width: 325px;
  margin-right: 176px;
  padding-left: 124px;
}

.hash {
  display: inline-block;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.phone {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

.footer-social {
  width: 150px;
  margin-right: 215px;
}

.footer-social ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background: #81b3d2;
}

.social-button:hover {
  background: #669ec0;
}

.social-button:active {
  background: #669ec0;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-social li:not(:last-child) {
  margin-right: 6px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
}

.footer-copyright span {
  margin-right: 10px;
  font-size: 14px;
  font-weight: normal;
  line-height: 26px;
  color: #000000;
}

.footer-copyright svg:hover path {
  fill: rgba(102, 158, 192, 0.8);
}

.footer-copyright svg:active path {
  fill: rgba(0, 0, 0, 0.5);
}
